---
import GreenSection from "../components/GreenSection.astro";
import Somesection from "../components/Somesection.astro";
import Tryllestoev from "../components/Tryllestoev.astro";
import TyrkisSection from "../components/TyrkisSection.astro";
import Ballondyr from "../components/Ballondyr.astro";
import "../styles/general.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon_hat.png" sizes="32x32" type="image/png" />
    <title>MAGIKORPSET</title>
  </head>
  <body>
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
    <header>
      <img src="../svg/logo.svg" alt="" />
      <a id="top"></a>
    </header>
    <main>
      <section class="blue_1"></section>
      <section class="blue_2">
        <h1>
          Magikorpset gør en forskel ved at trylle og skabe magi på
          børneafdelingerne rundt omkring i Danmark for syge børn og deres
          familier.
        </h1>
      </section>
      <Tryllestoev />
      <GreenSection />
      <Ballondyr />
      <section class="blue_3">
        <h1>Hvad er magikorpset?</h1>
        <p>
          I Magikorpset byder vi også stærke og støttende organisationer og
          enkeltpersoner velkommen, der ønsker at gøre en forskel for syge børn
          gennem Kids Aid. Som medlem af Magikorpset bliver I en aktiv del af
          vores mission – sammen skaber vi håb, styrke og smil for dem, der har
          allermest brug for det.
        </p>
        <p>
          I klar til at stå sammen med os? Du/I kan blive en del af Magikorpset
          hjemmefra, så vi sammen kan skabe magi!
        </p>
      </section>
      <!-- <section class="turkis">
        <h1>Vil du være en del af korpset?</h1>
        <p>
          “I Magikorpset byder vi også stærke og støttende organisationer og
          enkeltpersoner velkommen, der ønsker at gøre en forskel for syge børn
          gennem Kids Aid. Som medlem af Magikorpset bliver I en aktiv del af
          vores mission – sammen skaber vi håb, styrke og smil for dem, der har
          allermest brug for det. Er I klar til at stå sammen med os? Du/I kan
          blive en del af Magikorpset hjemmefra, så vi sammen kan skabe magi!
        </p>
      </section> -->
      <TyrkisSection />
      <section class="blue_4">
        <h1>Giv børn et fortryllende frirum</h1>
        <Tryllestoev />
      </section>
      <section class="blue_5">
        <h1>Følg med i vores fortryllende øjeblikke på vores sociale medier</h1>
        <Somesection />
      </section>
      <section class="lilla">
        <h1>
          Glem ikke at tilmeld dig vores nyhedsbrev, som vi sender ud én gang
          månedligt!
        </h1>
      </section>
      <Tryllestoev />
      <a href="#top" class="bottom-arrow">
        <img src="../svg/arrow_up.svg" alt="Pil Op" />
      </a>
    </main>
    <footer>
      <p>Kontakt KidsAid:</p>
      <p>Emma Iben Rosenkrantz Holm</p>
      <p>eb@kidsaid.dk</p>
      <p>Tlf.: +45 2025 1987</p>
    </footer>
    <!-- <p class="instrument-sans-bread">
      TEST Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      veniam dolore repudiandae corrupti magni quibusdam, ducimus totam possimus
      eos, laborum cumque. Sapiente vitae quis unde, alias odit accusantium
      recusandae omnis.
    </p>
    <p class="instrument-sans-citat">
      TEST Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tenetur
      quaerat veritatis, ut facere, fugit praesentium magnam, dicta dignissimos
      totam soluta eveniet laboriosam fuga natus. Quidem vitae corrupti esse
      expedita?
    </p>
    <slot /> -->
  </body>
</html>

<style>
  header {
    display: flex;
    justify-content: center;
  }
  body {
    background-color: var(--tertiary);
  }
  section {
    background-attachment: fixed;
    padding: 5rem;
    z-index: -1;
  }
  .blue_2 {
    width: 100%;
    height: 80vh;
  }
  .blue_2 h1 {
    font-size: larger;
  }

  .blue_4 h1 {
  }
  .green {
    background-image: url("./svg/green_section.svg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  .turkis {
    background-image: url("./svg/tyrkis_section.svg");
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .lilla {
    background-image: url("./svg/lilla_section.svg");
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  /**scroll indicator styling**/
  /* The progress container (grey background) */
  .progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 8px;
    background: var(--tertiary);
  }
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: var(--secondary);
    width: 0%;
  }

  .bottom-arrow {
    display: grid;
    justify-content: center;
    padding: 2rem;
  }
</style>

<script>
  // When the user scrolls the page, execute myFunction
  window.onscroll = function () {
    myFunction();
  };

  function myFunction() {
    let winScroll =
      document.body.scrollTop || document.documentElement.scrollTop;
    let height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    let scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
</script>
