---
import "../styles/general.css";
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1512 299" fill="none">
  <path
    d="M-103 221.2L-80.2639 208.193C-57.5278 195.672 -12.0556 168.929 33.4167 169.293C78.8889 168.929 124.361 195.672 169.833 201.75C215.306 207.829 260.778 195.672 306.25 162.85C351.722 130.029 397.194 78.9723 442.667 46.1504C488.139 13.3286 533.611 1.1723 579.083 0.807617C624.556 1.1723 670.028 13.3286 715.5 26.7004C760.972 40.0723 806.444 52.2286 851.917 85.0504C897.389 117.872 942.861 168.929 988.333 149.843C1033.81 130.029 1079.28 40.0723 1124.75 33.1432C1170.22 26.7004 1215.69 104.5 1261.17 130.393C1306.64 156.772 1352.11 130.029 1397.58 104.5C1443.06 78.9723 1488.53 52.2286 1511.26 39.7076L1534 26.7004V299H1511.26C1488.53 299 1443.06 299 1397.58 299C1352.11 299 1306.64 299 1261.17 299C1215.69 299 1170.22 299 1124.75 299C1079.28 299 1033.81 299 988.333 299C942.861 299 897.389 299 851.917 299C806.444 299 760.972 299 715.5 299C670.028 299 624.556 299 579.083 299C533.611 299 488.139 299 442.667 299C397.194 299 351.722 299 306.25 299C260.778 299 215.306 299 169.833 299C124.361 299 78.8889 299 33.4167 299C-12.0556 299 -57.5278 299 -80.2639 299H-103V221.2Z"
    fill="#CBFFC4"></path>
</svg>
<section>
  <div class="green">
    <h1>Vi har sammen gjort en forskel</h1>
    <div class="quote-container">
      <button class="prev-quote">
        <img src="./svg/arrow_left.svg" alt="Venstre pil" />
      </button>
      <div class="quote" id="current-quote">
        <p class="citat">
          “Vi brugte det meste af ferien på Herlev Hospital med Eske, men idag
          kom en tryllekunstner ind på hans stue fra Kids Aid, og det er noget
          af det bedste, der er sket for Eske i denne ferie. Han grinede mere
          end han har gjort længe. Tusind tak for jeres gode arbejde!”
        </p>
        <p class="person">Didde, Mor til Eske</p>
      </div>
      <button class="next-quote">
        <img src="./svg/arrow_right.svg" alt="Højre pil" />
      </button>
    </div>
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1637 309" fill="none">
  <path
    d="M1636.18 81.1201L1613.45 94.552C1590.73 107.482 1545.29 135.099 1499.84 134.722C1454.4 135.099 1408.95 107.482 1363.51 101.205C1318.06 94.9286 1272.61 107.482 1227.17 141.375C1181.72 175.269 1136.28 227.992 1090.83 261.886C1045.39 295.779 999.943 308.332 954.497 308.709C909.052 308.332 863.607 295.779 818.162 281.971C772.716 268.162 727.271 255.609 681.826 221.716C636.38 187.822 590.935 135.099 545.49 154.807C500.045 175.269 454.599 268.162 409.154 275.318C363.709 281.971 318.264 201.63 272.818 174.892C227.373 147.652 181.928 175.269 136.482 201.63C91.0371 227.992 45.5918 255.609 22.8691 268.539L0.146484 281.971V0.779877H22.8691C45.5918 0.779877 91.0371 0.779877 136.482 0.779877C181.928 0.779877 227.373 0.779877 272.818 0.779877C318.264 0.779877 363.709 0.779877 409.154 0.779877C454.599 0.779877 500.045 0.779877 545.49 0.779877C590.935 0.779877 636.38 0.779877 681.826 0.779877C727.271 0.779877 772.716 0.779877 818.162 0.779877C863.607 0.779877 909.052 0.779877 954.497 0.779877C999.943 0.779877 1045.39 0.779877 1090.83 0.779877C1136.28 0.779877 1181.72 0.779877 1227.17 0.779877C1272.61 0.779877 1318.06 0.779877 1363.51 0.779877C1408.95 0.779877 1454.4 0.779877 1499.84 0.779877C1545.29 0.779877 1590.73 0.779877 1613.45 0.779877H1636.18V81.1201Z"
    fill="#CBFFC4"></path>
</svg>

<style>
  svg {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
  h1 {
  }
  section {
    /*     background-attachment: scroll; */
    /* background-image: url("./svg/green_section.svg"); */
    background-color: var(--quaternary);
    padding: 5rem;
    z-index: -1;
    text-align: center;
  }

  p {
    max-width: 65ch;
  }

  .green {
    width: 100%;
    height: 90vh;
    z-index: 100;
    display: grid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    padding: 2rem;
    height: auto;
  }

  .quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
  }

  .quote {
    text-align: center;
    max-width: 700px;
    /* min-height: 500px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prev-quote,
  .next-quote {
    background: none;
    border: none;
    padding: 3rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }

  p.citat {
    font-style: italic;
    padding: 3rem;
  }
</style>

<script>
  const quotes = [
    {
      text: `“Vi brugte det meste af ferien på Herlev Hospital med Eske, men idag
      kom en tryllekunstner ind på hans stue fra Kids Aid, og det er noget
      af det bedste, der er sket for Eske i denne ferie. Han grinede mere
      end han har gjort længe. Tusind tak for jeres gode arbejde!”`,
      person: "Didde, Mor til Eske",
    },
    {
      text: `“Da jeg var 7 år, blev jeg selv ved et tilfælde draget ind i det magiske
      univers, og jeg har lige siden elsket at lave magi for store og små. Når
      jeg har været på børneafdelinger og trylle for de syge og sårbare børn
      og ser glæden og overraskelsen i deres øjne, så får jeg følelsen af, at
      alt går op i en højere enhed. Jeg er derfor utrolig stolt af at være en
      del af KidsAid Magic. Ingen børn har fortjent at ligge i en
      hospitalsseng og få frarøvet en magisk barndom.”`,
      person: "Henrik Svanekiær, magiker og tankelæser",
    },
  ];

  let currentIndex = 0;
  const currentQuote = document.getElementById("current-quote");

  function updateQuote(index) {
    const { text, person } = quotes[index];

    // Find og opdater elementerne
    const citatElement = currentQuote.querySelector(".citat");
    const personElement = currentQuote.querySelector(".person");

    citatElement.textContent = text;
    personElement.textContent = person;
  }

  document.querySelector(".prev-quote").addEventListener("click", () => {
    currentIndex = (currentIndex - 1 + quotes.length) % quotes.length;
    updateQuote(currentIndex);
  });

  document.querySelector(".next-quote").addEventListener("click", () => {
    currentIndex = (currentIndex + 1) % quotes.length;
    updateQuote(currentIndex);
  });
</script>
