---
import "../styles/general.css";
import TilmeldButton from "./TilmeldButton.astro";
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1509 325" fill="none">
  <path
    d="M0 91.5999L25.15 65.707C50.3 39.328 100.6 -11.7283 150.9 13.7999C201.2 39.328 251.5 143.872 301.8 208.3C352.1 272.728 402.4 299.472 452.7 292.543C503 286.1 553.3 247.2 603.6 247.2C653.9 247.2 704.2 286.1 754.5 292.543C804.8 299.472 855.1 272.728 905.4 253.643C955.7 233.828 1006 221.672 1056.3 175.843C1106.6 130.5 1156.9 52.6999 1207.2 20.2427C1257.5 -11.7283 1307.8 0.427997 1358.1 20.2427C1408.4 39.328 1458.7 66.0717 1483.85 78.5927L1509 91.5999V325H1483.85C1458.7 325 1408.4 325 1358.1 325C1307.8 325 1257.5 325 1207.2 325C1156.9 325 1106.6 325 1056.3 325C1006 325 955.7 325 905.4 325C855.1 325 804.8 325 754.5 325C704.2 325 653.9 325 603.6 325C553.3 325 503 325 452.7 325C402.4 325 352.1 325 301.8 325C251.5 325 201.2 325 150.9 325C100.6 325 50.3 325 25.15 325H0V91.5999Z"
    fill="#E9C3FF"></path>
</svg>
<section>
  <h1>
    Glem ikke at tilmeld dig vores nyhedsbrev, som vi sender ud én gang
    månedligt!
  </h1>

  <TilmeldButton buttontext="Tilmeld" />
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1509 325" fill="none">
  <path
    d="M1509 233.4L1483.85 259.293C1458.7 285.672 1408.4 336.728 1358.1 311.2C1307.8 285.672 1257.5 181.128 1207.2 116.7C1156.9 52.272 1106.6 25.5283 1056.3 32.4573C1006 38.9001 955.7 77.8001 905.4 77.8001C855.1 77.8001 804.8 38.9001 754.5 32.4573C704.2 25.5283 653.9 52.272 603.6 71.3573C553.3 91.172 503 103.328 452.7 149.157C402.4 194.5 352.1 272.3 301.8 304.757C251.5 336.728 201.2 324.572 150.9 304.757C100.6 285.672 50.3 258.928 25.15 246.407L0 233.4V0.000152588H25.15C50.3 0.000152588 100.6 0.000152588 150.9 0.000152588C201.2 0.000152588 251.5 0.000152588 301.8 0.000152588C352.1 0.000152588 402.4 0.000152588 452.7 0.000152588C503 0.000152588 553.3 0.000152588 603.6 0.000152588C653.9 0.000152588 704.2 0.000152588 754.5 0.000152588C804.8 0.000152588 855.1 0.000152588 905.4 0.000152588C955.7 0.000152588 1006 0.000152588 1056.3 0.000152588C1106.6 0.000152588 1156.9 0.000152588 1207.2 0.000152588C1257.5 0.000152588 1307.8 0.000152588 1358.1 0.000152588C1408.4 0.000152588 1458.7 0.000152588 1483.85 0.000152588H1509V233.4Z"
    fill="#E9C3FF"></path>
</svg>

<style>
  svg {
    display: block;
    margin: 0;
    padding: 0;
  }

  .flipped-svg {
    transform: scale(1, -1);
  }

  section {
    margin: 0;
    padding: 5rem;
    background-color: #e9c3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  p {
    margin-bottom: 2rem;
  }
  h1 {
    margin-bottom: 3rem;
    font-size: 28px;
  }
</style>
